<div class="text-center user-info">
  <h1 ng-if="!infoCtrl.registered()">Not Signed Up Yet. Sign Up Now!</h1> 

  <div ng-if="infoCtrl.registered()"> 
    <h1>Registration Information</h1>
    <div>
      First Name: {{infoCtrl.user.firstName}}
    </div>
    <div>
      Last Name: {{infoCtrl.user.lastName}}
    </div>
    <div>
      Email: {{infoCtrl.user.email}}
    </div>
    <div>
      Phone: {{infoCtrl.user.phone}}
    </div>
    <div>
      Favorite Dish Name:  {{infoCtrl.user.dish.name}} 
    </div>
    <div>
      Favorite Dish Description: {{infoCtrl.user.dish.description}} 
    </div>
    <div>
      Favorite Dish Image: 
      <img class="img-responsive" width="250" height="150" ng-src="{{infoCtrl.basePath}}/images/{{infoCtrl.user.dish.short_name}}.jpg" > 
    </div>
  
  </div>
</div>
