p { 
  text-align: justify;
}

h1 { 
  margin-bottom: 20px;
}

#main-content h2 { 
  margin-bottom: 20px;
}
#main-content a { 
  text-align: right;
}

#mobile-menu { 
  text-align: center;
}

#mobile-menu li { 
  border-bottom: 1px solid #e7e7e7;
}

#mobile-menu li:last-child { 
  border-bottom: 0;
}

#mobile-menu ul { 
  margin-bottom: 0;
  margin-top: 0;
  background-color: #ddd;
}

p.back-button { 
  text-align: right; 
}

   
